@keyframes navScrollBar {
  0% {  @include transform(translateY(-100%));}
  100% {  @include transform(translateY(0));}
}

@keyframes topBar-x {
  0% {
    top: 0;
    @include transform(rotate(0deg));
  }
  45% {
    bottom: 25%;
    @include transform(rotate(145deg));
  }
  75% { @include transform(rotate(130deg));}
  100% { @include transform(rotate(135deg));}
}

@keyframes bottomBar-x {
  0% {
    bottom: 0;
    @include transform(rotate(0deg));
  }
  45% {
    bottom: 25%;
    @include transform(rotate(-145deg));
  }
  75% { @include transform(rotate(-130deg));}
  100% { @include transform(rotate(-135deg));}
}

@keyframes menuTopBar {
  0% {
    top: 25%;
    @include transform(rotate(135deg));
  }
  45% { @include transform(rotate(-10deg)); }
  75% { @include transform(rotate(5deg)); }
  100% {
    top: 0;
    @include transform(rotate(0deg));
  }
}

@keyframes menuBottomBar {
  0% {
    bottom: 25%;
    @include transform(rotate(-135deg));
  }
  45% { @include transform(rotate(10deg)); }
  75% { @include transform(rotate(-5deg)); }
  100% {
    bottom: 0;
    @include transform(rotate(0deg));
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@include keyframes(bounceS) {
  0%, 20%, 50%, 80%, 100% {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-20px));
  }
  60% {
    @include transform(translateY(-10px));
  }
}

@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-30px));
  }
  60% {
    @include transform(translateY(-15px));
  }
}