@import "components/vars";
@import "components/fonts";
@import "components/animation";
@import "components/topNav";
@import "components/container";
@import "components/footer";

.contFluid {
  background-color: #E5E9EB;

  .titilePage {
    @include roboto_condensed;
    font-size: 24px;
    font-weight: 400;
    color: #6b7289;
    margin: 0 0 25px;
    padding: 0;
    display: block;
    span {
      font-size: 18px;
      font-weight: lighter;
      color: #6b7289;
      margin: 0 0 0 5px;
    }
  }
  //titilePage

  .lineTitle {
    font-size: 24px;
    font-weight: lighter;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    &:after {
      content: '';
      width: 40px;
      height: 1px;
      background-color: #333333;
      margin: 25px auto 30px;
      display: block;
    }
  }
  //lineTitle

  .bread_crumbs {
    position: relative;
    border-top: 1px solid #ebebeb;
    margin: 0 0 20px;
    padding: 20px 0 0;
    z-index: 2;
    @include clearfix;
    &.brown {
      border-bottom: 1px solid rgba(158, 72, 25, .1);
      padding: 0 0 20px;
      .link {
        color: #9e4819;
        &:after {
          border-top: 2px solid rgba(158, 72, 25, .5);
          border-right: 2px solid rgba(158, 72, 25, .5);
        }
        svg {
          fill: #9e4819;
        }
      }
      //link
    }
    //brown

    .link {
      position: relative;
      @include roboto_condensed;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      border-right: 0;
      color: #bfbfbf;
      float: left;
      opacity: .8;
      filter: alpha(opacity=.8);
      margin: 0 35px 0 0;
      padding: 0;
      display: flex;
      @include transition(all .3s ease);
      &:hover {
        opacity: 1;
        filter: alpha(opacity=1);
      }
      &:after {
        content: '\f105';
        @include stmegi-chat;
        position: absolute;
        top: 0;
        right: -20px;
        bottom: 0;
        margin: auto;
        pointer-events: none;
        display: block;
      }
      [class^="icon-"] {
        font-size: 20px;
        color: #bfbfbf;
      }
      &:last-child {
        &:after {
          content: '';
          display: none;
        }
      }
    }
    //link

    a.link:not(.icon) {
      border-bottom: 1px solid #bfbfbf;
    }
  }
  //bread_crumbs

  .cf_background {
    @include alignCenter(true);
    z-index: 0;
    .bg {
      @include alignCenter();
      background-position: center;
      background-size: cover;
      &:before {
        content: '';
        @include alignCenter;
        background-image: linear-gradient(rgba(0,0,0,.3) 0%,rgba(0,0,0,.5) 75%,rgba(0,0,0,.7) 100%);
        display: block;
      }
    }
  }
  //cf_background

  .wh_bl {
    position: relative;
    border-radius: 2px;
    border: 1px solid #DDE1E3;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 0 #DDE1E3;
    margin: 0 0 10px;
    .bl_title {
      position: relative;
      font-size: 16px;
      font-weight: lighter;
      color: #2b2e2f;
      margin: 0 0 10px;
      display: block;
      .count {
        font-size: 13px;
        color: #90949c;
      }
    }
    //bl_title
  }
  //wh_bl

  .cricle_img {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 0 10px;
  }

  .cf_welcome {
    .container {
      @include clearfix;
    }
    //container

    .rightBar {
      float: right;
      width: 340px;
    }
    //rightBar

    .rb_login,
    .rb_signup {
      margin: 0 0 20px;
      .container {
        padding: 20px;
      }
      //container

      .auth_social {
        text-align: center;
        margin: 0 auto 20px;
        a {
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-radius: 50%;
          background-color: #e5e9eb;
          color: #9a9a9a;
          display: inline-block;
          margin: 0 5px;
          @include transition(all .3s ease);


          &.facebook { color: #496194; }
          &.vk       { color: #6996c7; }
          &.twitter  { color: #00aeef; }
          &.gplus    { color: #ff4343; }
          &.ok       { color: #ee8208; }

          &:hover {
            color: #ffffff;
            &.facebook { background-color: #496194; }
            &.vk       { background-color: #6996c7; }
            &.twitter  { background-color: #00aeef; }
            &.gplus    { background-color: #ff4343; }
            &.ok       { background-color: #ee8208; }
          }
          //a:hover
        }
        //a
      }
      //auth_social

      .lg_form,
      .sg_form {
        .form-group {
          position: relative;
          margin: 0 0 25px;
          input {
            position: relative;
            width: 100%;
            font-size: 13px;
            font-weight: lighter;
            height: 35px;
            border-radius: 2px;
            border: 1px solid #d3d9de;
            outline: none;
            color: #999;
            padding: 3px 10px;
            margin: 0;
            display: block;
          }

          .btn_forgot {
            font-size: 13px;
            font-weight: 400;
            color: #555;
            line-height: 35px;
            float: right;
            display: inline-block;
            &:hover {
              color: $bg_color;
            }
            //&:hover
          }
          //btn_forgot
        }
        //form-group

        .error {
          position: absolute;
          top: calc(100% + 5px);
          font-size: 8px;
          font-weight: lighter;
          color: #da6868;
          opacity: 0;
          filter: alpha(0);
          @include transition(all .3s ease);
          &:before {
            font-size: 14px;
            font-weight: 500;
            margin-right: 5px;
          }
        }
        //error

        .errors {
          input {
            border-color: #da6868;
          }
          .error {
            font-size: 12px;
            opacity: 1;
            filter: alpha(1);
          }
          //icon-warning
        }
        //errors

      }
      //lg_form

    }
    //rb_login
  }
  //cf_welcome

  .cf_login,
  .cf_signup {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    @include center(true);
    .container {
      padding: 20px;
    }
    //container

    .auth_social {
      text-align: center;
      margin: 0 auto 20px;
      a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        background-color: #e5e9eb;
        color: #9a9a9a;
        display: inline-block;
        margin: 0 5px;
        @include transition(all .3s ease);


        &.facebook { color: #496194; }
        &.vk       { color: #6996c7; }
        &.twitter  { color: #00aeef; }
        &.gplus    { color: #ff4343; }
        &.ok       { color: #ee8208; }

        &:hover {
          color: #ffffff;
          &.facebook { background-color: #496194; }
          &.vk       { background-color: #6996c7; }
          &.twitter  { background-color: #00aeef; }
          &.gplus    { background-color: #ff4343; }
          &.ok       { background-color: #ee8208; }
        }
        //a:hover
      }
      //a
    }
    //auth_social

    .lg_form,
    .sg_form {
      .form-group {
        position: relative;
        margin: 0 0 25px;
        input {
          position: relative;
          width: 100%;
          font-size: 13px;
          font-weight: lighter;
          height: 35px;
          border-radius: 2px;
          border: 1px solid #d3d9de;
          outline: none;
          color: #999;
          padding: 3px 10px;
          margin: 0;
          display: block;
        }

        .btn_forgot {
          font-size: 13px;
          font-weight: 400;
          color: #555;
          line-height: 35px;
          float: right;
          display: inline-block;
          &:hover {
            color: $bg_color;
          }
          //&:hover
        }
        //btn_forgot
      }
      //form-group

      .error {
        position: absolute;
        top: calc(100% + 5px);
        font-size: 12px;
        font-weight: lighter;
        color: #da6868;
        @include transition(all .3s ease);
        &:before {
          font-size: 14px;
          font-weight: 500;
          margin-right: 5px;
        }
      }
      //error
    }
    //lg_form
  }
  //cf_login
  
  .cf_main {
    position: relative;
    .container {
      display: table;
    }
    //container

    #sideBar {
      width: 200px;
      padding: 0 20px 0 0;
      display: table-cell;
      vertical-align: top;
      .home_profile {
        border-bottom: 1px solid $line;
        margin: 0 0 10px;
        padding: 0 0 10px;
        .hp_inner {
          position: relative;
          min-height: 70px;
          padding: 10px 10px 10px 60px;
          display: block;
          .avatar {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: auto;
            display: inline-block;
          }
          //avatar

          .username {
            font-size: 13px;
            font-weight: 500;
            color: #5d6264;
            margin: 5px 0 10px 0;
            display: block;
          }
          //username

          .aboutUs {
            font-size: 12px;
            font-weight: 400;
            color: #2b65f8;
            margin: 0;
            display: block;
          }
          //aboutUs
        }
        //hp_inner
      }
      //home_profile

      .inner_menu {
        border-bottom: 1px solid $line;
        margin: 0 0 10px;
        padding: 0 0 10px;
        li {
          position: relative;
          width: calc(100% + 16px);
          left: -8px;
          border-radius: 2px;
          padding: 7px 8px;
          @include transition(color .3s ease, background-color .3s ease);
          a {
            position: relative;
            font-size: 13px;
            font-weight: 500;
            color: #74797b;
            margin: 0;
            padding: 0 0 0 30px;
            display: block;
            .icon {
              position: absolute;
              left: 0;
              color: #98b1c6;
              display: inline-block;
              @include transition(all .3s ease);
            }
          }
          //a
          .im_count {
            position: absolute;
            top: 0;
            right: 8px;
            bottom: 0;
            min-width: 20px;
            height: 20px;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            border-radius: 50px;
            background-color: #b9c7cf;
            color: #4b6478;
            text-align: center;
            margin: auto;
            padding: 0 5px;
          }
          //im_count
          
          &:hover {
            background-color: #dae2e7;
            a {
              color: #74797b;
              .icon {
                color: #6c8396;
                
              }
            }
          }
          //li:hover
        }
      }
      //inner_menu
    }
    //sideBar

    #pageMain {
      display: table-cell;
      .profile_author {
        position: relative;
        border-radius: 3px;
        width: 100%;
        height: 280px;
        overflow: hidden;
        margin: 0 0 20px;
        .pf_bg {
          position: absolute;;
          width: 100%;
          height: 100%;
          min-height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          display: block;
          z-index: 0;
          &:before {
            content: '';
            @include alignCenter;
            background-color: rgba(0, 0, 0, .4);
            display: block;
          }
        }
        //pf_bg

        .pf_info {
          position: relative;
          z-index: 1;
        }
        //pf_info

        .pf_time_lv {
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 11px;
          font-weight: lighter;
          color: #fff;
        }
        //pf_time_lv

        .pf_avatar {
          text-align: center;
          padding: 18px 10px 10px;
          .avatar {
            width: 130px;
            height: 130px;
            border-radius: 5px;
            border: 2px solid #fff;
            display: block;
            margin: 0 auto 10px;
            vertical-align: top;
          }
          //avatar

          .name {
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
            display: block;
            margin: 0 0 15px;
          }
          //name

          .status {
            font-size: 13px;
            font-weight: 500;
            color: #fff;
            display: block;
            margin: 0;
          }
          //status
        }
        //pf_avatar

        .pf_counts_module {
          border-top: 1px solid rgba(255,255,255,.3);
          text-align: center;
          padding: 8px 0px;
          .page_counter {
            width: 20%;
            display: inline-block;
            color: rgba(255,255,255,.75);
            @include transition(color .3s ease);
            .count {
              font-size: 20px;
              font-weight: 400;
              color: inherit;
              text-transform: uppercase;
              text-align: center;
              margin: 0 0 5px;
            }
            //count

            .label {
              font-size: 12px;
              font-weight: 400;
              color: inherit;
            }
            //label
            &:hover {
              color: rgba(255,255,255,1);
            }
          }
        }
        //pf_counts_module
      }
      //profile_author
      
      .pageContent {
        width: 550px;
      }
      //pageContent
      
      .page_photos {
        padding: 15px 9.5px;
        .pp_square_photo {
          font-size: 0;
          a {
            position: relative;
            height: 105px;
            width: 105px;
            margin-left: 1px;
            background-color: #ebebeb;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            display: inline-block;
            &:first-child {
              margin-left: 0;
            }
          }
        }
        //pp_square_photo
      }
      //page_photos

      .page_friends {
        .pf_people_cell {
          padding: 15px 19px;

          .bl_title {
            margin-bottom: 15px;
          }
          //bl_title

          &.profile_friends_online {
            border-top: 1px solid $line;
          }
          //profile_friends_online
        }
        //pf_people_cell

        .pc_friends {
          @include clearfix;
          &.online {
            a {
              .pic {
                .online {
                  position: absolute;
                  right: 2px;
                  bottom: 15px;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  border: 2px solid #fff;
                  background-color: #47d282;
                  display: inline-block;
                }
              }
            }
          }
          //online

          a {
            text-align: center;
            float: left;
            margin: 0 15px 0 0;
            .pic {
              position: relative;
              font-size: 0;
              .avatar {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                margin: 0 0 10px
              }
              //avatar
            }
            .name {
              font-size: 13px;
              font-weight: lighter;
              color: #083b65;
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
        //pc_friends
      }
      //page_friends
      
      .page_write_post {
        .post_header {
          padding: 15px 20px 20px; 
        }
        //post_header

        .post_content {
          border-top: 1px solid #dfe0e2;
          background-color: #f9f9f9;
          padding: 17px 20px;
          @include clearfix;
          .pc_panel {
            .pp_tools {
              position: relative;
              font-size: 14px;
              font-weight: 400;
              line-height: 36px;
              color: #5d6264;
              float: left;
              margin-right: 20px;
              cursor: pointer;
              .icon {
                font-size: 16px;
                color: #98b1c6;
                margin-right: 10px;
                @include transition(all .3s ease);
              }
              //icon
              
              &:hover {
                .icon {
                  color: #728798;
                }
                //icon
              }
            }
            //pp_tools 
          }
          //pc_panel
          
          .btn {
            font-size: 12px;
            line-height: 18px;
            font-weight: 400;
            text-transform: uppercase;
            float: right;
          }
          //btn
        }
        //post_content
      }
      //page_write_post
      
      .page_post {
        .post_header {
          position: relative;
          min-height: 60px;
          margin: 15px 20px 0;
          padding: 10px 10px 10px 60px;
          .pic {
            .avatar {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              margin: auto;
            }
            //avatar
          }
          //pic

          .name {
            position: relative;
            font-size: 13px;
            font-weight: 500;
            color: #5d6264;
            margin: 0 0 5px;
            display: block;
          }
          //name

          .time {
            font-size: 13px;
            color: #9c9c9c;
            margin: 0;
            display: block;
          }
          //time
          
          .action_menu {
            position: absolute;
            top: 5px;
            right: 0;
            margin: auto;
            .icon {
              color: #c2d1dd;
              @include transition(all .3s ease);
              cursor: pointer;
              &:hover {
                color: #728798;
              }
            }
            //icon
          }
          //action_menu
        }
        //post_header

        .post_content {
          position: relative;
          padding: 10px 0 15px;
          .wall_text {
            font-size: 14px;
            font-weight: 400;
            color: #333333;
            margin: 0 20px 0;
          }
          //wall_text

          .post_image {
            font-size: 0;
            display: block;
            .images {
              width: 100%;
              height: auto;
              margin: 15px 0 0;
            }
          }
          //post_image
        }
        //post_content

        .post_button {
          position: relative;
          border-top: 1px solid #edf1f5;
          margin: 0 20px;
          padding: 12px 0;
          .pt_panel {
            @include clearfix;
            .pp_tools {
              position: relative;
              left: -8px;
              font-size: 13px;
              font-weight: 400;
              border-radius: 2px;
              color: #728798;
              float: left;
              margin-right: 12px;
              padding: 5px 8px;
              @include transition(color .3s ease, background-color .3s ease);
              cursor: pointer;
              .icon {
                color: #c2d1dd;
                margin-right: 8px;
                @include transition(all .3s ease);
              }
              //icon
              
              [class^="pt_count_"] {
                font-weight: bold;
                margin-left: 5px;
              }
              //pt_count_
              
              &:hover {
                background-color: #f2f4f7;
                .icon {
                  color: #728798;
                }
                //icon
              }
              //pp_tools:hover
              
              &.active {
                .icon {
                  color: #ed1c24;
                }
                //icon
              }
              //pp_tools.active
            }
            //pp_tools
          }
          //pt_panel
        }
        //post_button
      }
      //page_post
    }
    //pageMain
  }
  //cf_main
}
//contFluid

@media all and (max-width: 480px) {
  .contFluid {

  }
  //contFluid
}
