doctype
html
  head
    include include/head
  body
    div.contFluid
      div.cf_background
        div.bg(style="background-image: url(images/bg.jpg);")

      block content
      include include/footer
    //contFluid
