extends layout

block content
    div.cf_login
        div.container
            h1.sg_heading Войти
            p.sg_lead Здесь Вы сможете войти в систему.
            
            a(href="/auth/facebook").btn_white
                span.icon.icon-facebook
                
            a(href="/auth/vk").btn_white
                span.icon.icon-vk
                
            a(href="/auth/twitter").btn_white
                span.icon.icon-twitter
            
            a(href="/auth/google").btn_white
                span.icon.icon-gplus
                
            a(href="/auth/odnoklassniki").btn_white
                span.icon.icon-ok
                
            if typeof(message[0]) != 'undefined'
                p.msg.icon.icon-warning=message[0]
            form.form-horizontal.sg_form(action='/login' method='post')
                div.form-group
                    input#email.form-control(type="text" name='email' placeholder="Почта")
                div.form-group
                    input#password.form-control(type="password" name='password' placeholder="Пароль")
                div.form-group
                    button.btn.btn_white.login(type="submit") Войти