extends layout

block content
    div.cf_signup
        div.container
            h1.sg_heading Регистрация
            p.sg_lead Здесь Вы сможете зарегистрироваться.
            form.form-horizontal.sg_form(action='/signup' method='post')
                div.form-group
                    input#email.form-control(type="text" name='email' placeholder="Email" autocomplete="off")
                div.form-group
                    input#password.form-control(type="password" name='password' placeholder="Пароль" autocomplete="off")
                div.form-group
                    button.btn.btn_white.signup(type="submit") Регистрация
