extends layout

block content
    div.cf_signup
        div.container
            h1.sg_heading Регистрация
            p.sg_lead Здесь Вы сможете зарегистрироваться.
            form.form-horizontal.sg_form(action='/signup', method='post')
                div.form-group
                    input#firstname.form-control(type="text", name='firstname', placeholder="Имя" autocomplete="off")
                    if typeof(message[0]) != 'undefined'
                        span.icon.icon-warning=' ' + message[0].errors['local.firstname'].message
                div.form-group
                    input#lastname.form-control(type="text", name='lastname', placeholder="Фамилия" autocomplete="off")
                    if typeof(message[0]) != 'undefined'
                        span.icon.icon-warning=' ' + message[0].errors['local.lastname'].message
                div.form-group
                    input#username.form-control(type="text", name='username', placeholder="Имя пользователя" autocomplete="off")
                    if typeof(message[0]) != 'undefined'
                        span.icon.icon-warning=' ' + message[0].errors['local.username'].message
                div.form-group
                    input#email.form-control(type="text", name='email', placeholder="Email" autocomplete="off")
                    if typeof(message[0]) != 'undefined'
                        span.icon.icon-warning=' ' + message[0].errors['local.email'].message
                div.form-group
                    input#password.form-control(type="password", name='password', placeholder="Пароль" autocomplete="off")
                div.form-group
                    button.btn.btn_white.signup(type="submit") Регистрация
