doctype
html
    head
        include include/head
    body
        div.contFluid
            div.cf_background
                div.bg(style="background-image: url(images/bg.jpg);")
            include include/leftBar
            include include/content
            //include include/welcome
            //include include/login
            //include include/signup

            include include/footer
        //contFluid