div.cf_logo
    div.container
        a.logo(href="/") STMEGI Talk
            sup alfa version

div.cf_leftBar
    div.container
        div.search
           form.wrap_search
               input#search(type="text" placeholder="Поиск людей" autocomplete="off")
               div.icon.icon-search

        div.listUser
            a.active
                div.image(style="background-image: url(./images/user.png);")
                div.panel
                    time.time 12:23
                    div.icon.icon-close
                h2.fullname Татьяна Власова
                p.text От души чувак!!!
            a
                div.image(style="background-image: url(./images/user.png);")
                div.panel
                    time.time 12:23
                    div.icon.icon-close
                h2.fullname Татьяна Власова
                p.text От души чувак!!!
            a
                div.image(style="background-image: url(./images/user.png);")
                div.panel
                    time.time 12:23
                    div.icon.icon-close
                h2.fullname Татьяна Власова
                p.text От души чувак!!!
            a
                div.image(style="background-image: url(./images/user.png);")
                div.panel
                    time.time 12:23
                    div.icon.icon-close
                h2.fullname Татьяна Власова
                p.text От души чувак!!!
            a
                div.image(style="background-image: url(./images/user.png);")
                div.panel
                    time.time 12:23
                    div.icon.icon-close
                h2.fullname Татьяна Власова
                p.text От души чувак!!!
            a
                div.image(style="background-image: url(./images/user.png);")
                div.panel
                    time.time 12:23
                    div.icon.icon-close
                h2.fullname Татьяна Власова
                p.text От души чувак!!!
            a
                div.image(style="background-image: url(./images/user.png);")
                div.panel
                    time.time 12:23
                    div.icon.icon-close
                h2.fullname Татьяна Власова
                p.text От души чувак!!!
            a
                div.image(style="background-image: url(./images/user.png);")
                div.panel
                    time.time 12:23
                    div.icon.icon-close
                h2.fullname Татьяна Власова
                p.text От души чувак!!!
            a
                div.image(style="background-image: url(./images/user.png);")
                div.panel
                    time.time 12:23
                    div.icon.icon-close
                h2.fullname Татьяна Власова
                p.text От души чувак!!!
            a
                div.image(style="background-image: url(./images/user.png);")
                div.panel
                    time.time 12:23
                    div.icon.icon-close
                h2.fullname Татьяна Власова
                p.text От души чувак!!!
            a
                div.image(style="background-image: url(./images/user.png);")
                div.panel
                    time.time 12:23
                    div.icon.icon-close
                h2.fullname Татьяна Власова
                p.text От души чувак!!!
            a
                div.image(style="background-image: url(./images/user.png);")
                div.panel
                    time.time 12:23
                    div.icon.icon-close
                h2.fullname Татьяна Власова
                p.text От души чувак!!!



