div.rb_signup.wh_bl
    div.container
        h1.sg_heading.bl_title Регистрация
        p.sg_lead.bl_title Здесь Вы сможете зарегистрироваться.

        form.form-horizontal.sg_form(action='/signup' method='post')
            div.form-group
                input#firstName.name_signup.form-control(type="text" name='firstName' placeholder="Имя" autocomplete="off" value="#{(typeof(messageSignup[0]) != 'undefined' && typeof(messageSignup[0].firstName) != 'undefined' ? messageSignup[0].firstName.value : '')}")
                span.error.icon.icon-warning
            div.form-group
                input#lastName.surname_signup.form-control(type="text" name='lastName' placeholder="Фамилия" autocomplete="off" value="#{(typeof(messageSignup[0]) != 'undefined' && typeof(messageSignup[0].lastName) != 'undefined' ? messageSignup[0].lastName.value : '')}")
                span.error.icon.icon-warning
            div.form-group
                input#email.email_signup.form-control(type="text" name='email' placeholder="Email" autocomplete="off" value="#{(typeof(messageSignup[0]) != 'undefined' && typeof(messageSignup[0].email) != 'undefined' ? messageSignup[0].email.value : '')}")
                span.error.icon.icon-warning
            div.form-group
                input#password.password_signup.form-control(type="password" name='password' placeholder="Пароль" autocomplete="off")
                span.error.icon.icon-warning
            div.form-group
                button.btn.signup(type="submit") Регистрация

